{% extends 'scoperobit/base.html' %}
{% load static %}

{% block content %}
<div class="transition"></div>
<center>
  <div class="front">
  <h1 class="display-2">
    What's yr sign?
  </h1>
  <br><br>
    <img class="" src="{% static "scoperobit/images/MulhollandSilencio.GIF" %}"
    style="-webkit-mask-image: radial-gradient(closest-side, black 0%, transparent 100%);
    mask-image: radial-gradient(closest-side, black 0%, transparent 100%);"/>
      <div class="container">
        <form action="{% url 'result' %}" method="post" class="form">
          {% csrf_token %}
      <div class="dropdown">
        <div class="select">
          <span>Select Sign</span>
        </div>
        <input type="hidden" name="sign">
        <ul class="dropdown-menu">
          <li id="aries">Aries</li>
          <li id="aquarius">Aquarius</li>
          <li id="cancer">Cancer</li>
          <li id="capricorn">Capricorn</li>
          <li id="gemini">Gemini</li>
          <li id="leo">Leo</li>
          <li id="libra">Libra</li>
          <li id="pisces">Pisces</li>
          <li id="sagittarius">Sagittarius</li>
          <li id="scorpio">Scorpio</li>
          <li id="taurus">Taurus</li>
          <li id="virgo">Virgo</li>
        </ul>
      </div>
      <span class="msg"></span>
    </form>
    </div>
  </div>
</center>

{% endblock %}
